.item-count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .item-count-button {
    padding: 10px 20px;
    background-color: rgb(216, 136, 51);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .item-cart-button {
    padding: 10px 20px;
    margin-left: 30px;
    background-color: rgb(110, 124, 73);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }