.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .form-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-buttons {
    margin-top: 20px;
    text-align: right;
  }
  
  .form-buttons button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
  }

  .accept-button {
    background-color: #4d9d2d;
  }

  .form-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }