.font-xl{
    font-size: 20 px;
}
  
.item-card{
    color: black;
    text-align: center;
    position: relative;
    margin: 25px 15px;
    padding: 20px 25px;
    width: 320px;
    border-radius: 4px;
    background-color: #d2d2d2;
    overflow: hidden;
}
  
  .item-card_header{
    font-size: large;
  }
  
  .item-card_header h2{
    padding: 16px 2px;
    margin: 0px;
  }
  
  .item-card_img{
    width: 320px;
    height: 260px;
  }

  .item-card_img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .item-card_detail{
    font-weight: bold;
    font-size: 2rem;
  }

  Link, a {
    color: inherit; /* Inherit text color from parent element */
    text-decoration: none; /* Remove underline */
  }