nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: right;
}
  
nav li {
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem; 
}

#navbar-brand {
    font-size: 22px;
    font-weight: bold;
    margin-right: auto; /* Add this line to push "DISCO" to the left side */
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #f2f2f292;
    padding: 4px 0;
    z-index: 100;
  }
  